key = De1RzebN9stzPinKPuNkf1E9IKwQ00CW23nk42j1j20inbv129bkjknbuoilkqnwdjpo0hob3RgiFttOkUAgzA==
storageAccountName = 031320fjn2injknn
containerName= master
standardContainer=wasbs://somethingd@ain23f02in3fon2.blob.core.windows.net
masterContainer=abfss://masterthing@aklnfweoifn20f230nfni1.dfs.core.windows.net
